<section id="footer">
    <div class="container mb-3">
      <div class="row">
        <div class="col-md-3">
          <h3>Garnetour.</h3>
          <p>Bersama Garnetour, nikmati perjalanan wisata yang tak terlupakan dengan pelayanan kelas eksklusif dan biaya ekonomis.</p>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <h5>Links</h5>
          <ul>
            <li><a href="#">Tentang Kami</a></li>
            <li><a href="#">Destinasi</a></li>
            <li><a href="#">Hotel</a></li>
            <li><a href="#">Kontak</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Media Sosial</h5>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">YouTube</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row copyright d-flex align-content-center">
      <p class="d-flex justify-content-center">Copyright &copy; 2021 - Kelas 12.6AB.07<b>&nbsp;Nusa Mandiri</b></p>
    </div>
    <div class="row copyright d-flex align-content-center">
      <button type="button" class="btn btn-primary button-utama" onclick="toggleCredit()">Credit</button>
    </div>
  </section>

  <section id="pesan" class="hide">
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
      <div class="row d-flex align-items-center">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
          <h2>Website Project UAS Web Programming</h2>
          <b>Anggota Kelompok :</b>
          <ul>
            <li>12182360 - Muhammad Fajar</li>
            <li>12182467 - Dimas Setiyadi</li>
            <li>12182236 - Muhammad Ashari</li>
            <li>12182323 - Ilham Faizal</li>
            <li>12182420 - Eko Saputro</li>
          </ul>
          <b>Kelas :</b><span>12.6AB.07</span>
        </div>
      </div>
    </div>
  </section>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="js/bootstrap.bundle.js"></script>
  <script src="js/script.js"></script>
