<div class="bg-header-bg">
    <div class="bg-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light py-3" data-aos="fade-down">
            <div class="container-fluid ">
                <a class="navbar-brand fw-bold fs-4" href="#">Garnetour</a>
  
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
  
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#destinasi-terbaik">Destinasi</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Hotel</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact">Kontak</a>
                    </li>
                  </ul>
                </div>
            </div>
          </nav>
        </div>
